<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.cktext_area field.attribute, ckeditor: field.ckeditor_options %>
  <% content_for(:javascript) { field.js_tag(f) } %>
</div>
